# Python virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# ML models/datasets
*.pkl
*.h5
*.joblib
model/
data/

# Environment variables
.env

# IDE
.vscode/settings.json
.idea/
